.challenge-title {
    display: flex;
    justify-content: center;
}
.row .my-challenge-headings{
    justify-content: left;
}

.challenge-desc-content {
    text-align: justify;
}

.my-challenge-headings h2{
    text-align: left;
}
.over{
    position: relative;
    margin-top: -5vh;
}
.button-container{
    float: right;
}

.card-title{
    height: 5vh;
}


.col-md-3.accepted-challenges-col {
    text-align: left;
}

.rounded-circle.challenge-finished-indicator-accepted {
    background: #FFBA00;
    width: 20px;
    height: 20px;
}

.rounded-circle.challenge-finished-indicator-complete {
    background: #00FF00;
    width: 20px;
    height: 20px;
}
.row.public-challenge-row {
    justify-content: left;
}

