.challenge-title {
    display: flex;
    justify-content: center;
}
.row .my-challenge-headings{
    justify-content: left;
}

.challenge-desc-content {
    text-align: justify;
}

.my-challenge-headings h2{
    text-align: left;
}
.over{
    position: relative;
    margin-top: -5vh;
}
.button-container{
    float: right;
}

.card-title{
    height: 5vh;
}

.rounded-circle.challenge-finished-indicator-accepted {
    background: #FFBA00;
    width: 20px;
    height: 20px;
}

.rounded-circle.challenge-finished-indicator-success {
    background: #00FF00;
    width: 20px;
    height: 20px;
}

.rounded-circle.challenge-finished-indicator-fail {
    background: #FF0000;
    width: 20px;
    height: 20px;
}
.row.public-challenge-row ,.row.pending-challenge-row, .row.current-challenge-row,.row.complete-challenge-row {
    justify-content: left;
}
.flip-challenge {
    transform: rotateY(180deg) !important;
}
.public-challenge-info {
    background: transparent;
}
.my-challenge-info {
    background: transparent;
}
.my-challenge {
    background: #d26a03;
}
 .public-challenge {
     background: #1bcfb4;
 }

 .cardBox {
     perspective: 1000px;
 }
.card {
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-hidden {
    display: none;
}

.row.created-link {
    justify-content: left;
}
