.row .my-challenge-headings{
    justify-content: left;
}

.challenge-desc-content {
    text-align: justify;
}

.my-challenge-headings h2{
    text-align: left;
}
.over{
    position: relative;
    margin-top: -5vh;
}
.button-container{
    float: right;
}

.card-title{
    height: 5vh;
}


