::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-header {
    margin: auto;
    border-bottom: 1px solid #bbb;
}

.autocomplete-items {
    width: 71.1%;
    left: 28.8%;
    top: 100%;
    position: absolute;
}

.email-text {
    width: 20vh;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0;
}

.invalid-feedback {
    display: block;
    color: red;
}

.ml-7 {
    margin-left: 7.2rem !important;
}

.ml-8 {
    margin-left: 8rem ! important;
}

.add-button {
    height: 6vh;
    width: auto;
    float: right;
    cursor: pointer;
    margin-top: -.5vh;
}

.remove-button {
    height: 4vh;
    width: auto;
    float: right;
    cursor: pointer;
    margin-top: -.5vh;
}
.remove-button-edit {
    height: 4vh;
    width: auto;
    float: right;
    cursor: pointer;
    margin-top: -.5vh;
}

.hor-bar {
    margin-top: 0;
}

.modal-footer {
    text-align: center;
}

form {
    margin-bottom: 0;
}

.submit-btn {
    margin: auto;
}

.hint-pic {
    cursor: default;
}

.add-mem-lbl {
    margin: auto;
    text-align: center;
}

.add-mem-cont {
    overflow: auto;
    max-height: 30vh;
}

#nav1 {
    color: rgb(164, 210, 59);
}

#panel1 {
    border: 2px solid rgb(164, 210, 59) !important;
    color: rgb(164, 210, 59);
    transition: transform 2s;
}

#nav2 {
    color: #CD3D00;
}

#panel2 {
    border: 2px solid #CD3D00 !important;
    color: #CD3D00 !important;
}

#nav3 {
    color: #F8AC00;
}

#panel3 {
    border: 2px solid #F8AC00 !important;
    color: #F8AC00;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125) !important;
    margin-top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    cursor: default !important;
    transition: transform 2s;
    transform-style: unset;
}

#nav4 {
    color: #017DB1;
    border: none;
}

#panel4 {
    border: 1px solid #017DB1 !important;
    color: #017DB1;
}

.panel-container {
    scroll-behavior: smooth !important;
    overflow-y: auto;
    height: 68vh;
}

.card-header {
    font-size: 35px;
}

.vertical-menu {
    width: 60%;
    font-weight: 300;
    font-size: 18px;
}

.vertical-menu a {
    text-align: center;
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.panel-card {
    width: 100% !important;
    margin: auto;
    transform-style: preserve-3d;
    height: 90% !important;
}
.panel-card-2 {
    width: 100% !important;
    margin: auto;
    transform-style: preserve-3d;
}


.group-row {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.group-cont {
    overflow: auto;
    height: 80%;
}


.group-header {
    font-size: 20px;
    padding: .25rem .42rem !important;
    position: relative;
    background: rgb(247,247,247) !important;

}
.group-header-back {
    font-size: 20px;
    padding: .25rem .42rem !important;
    background: rgb(247,247,247) !important;
    z-index: 100;
}

.btn-col {
    padding-left: 0;
    padding-right: 0;
}

.group-btn {
    width: 75%;
}

.group-flip {
    transform: rotateY(180deg) !important;
}

.front, .back {
    backface-visibility: hidden;
}

.front {
    transform: rotateY(0deg);
}
.mb-1-5{
    margin-bottom: 1.5rem !important;
}
.mb-1-5{
    margin-bottom: 2.5rem !important;
}
.manager-pic{
    height: 5.5vh;
    width: 5.5vh;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.back {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    overflow: auto;
    cursor: pointer;

}


.mem-list{
    float: left;

}

.img-list{
    margin-top: -5%;
}

.delete_form, leave_form{
    width: 100%;
}
.display-none{
    display: none;
}
.member-prof {
    height: 5.5vh;
    width: 5.5vh;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

