.card-img-top{
    height: 226px;
}
.card{
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}
.top-mid{
    background: #0cc;
}
.bot-mid{
    background: #996533;
}
body {
    background-image: url("../../../frontend/images/background.jpg");
    background-size: 100% 100%;

}
